@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}

.navbar > h1{
    font-weight: 500;
    font-family: "Playball", cursive;
    font-size: 40px;
    color:var(--themeColor);
    margin-right: 60px;
    margin-left:5px;
}

@media screen and (max-width:1200px){
    .navbar{
        /* width:90%; */
        /* margin: 0; */
        justify-content:space-around;
    }

    .navbar > h1{
    margin:0 auto;
    font-size: 35px;
    margin-left: 10px;
    margin-right: 2px;
}

}

@media screen and (max-width:992px){

}

@media screen and (max-width:768px){
    .navbar{
        justify-content:space-between;
    }

    .navbar > h1{
    font-size: 33px;
    margin-left: 10px;
    margin-right: 0px;
}
}

@media screen and (max-width:600px){
    .navbar{
        display:flex;
        flex-direction: column;
        row-gap: 15px;
        margin: 0 auto;
        margin-top:25px;
    }
    .navbar > h1{
        font-size: 45px;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}