
*{
    box-sizing: border-box;
    padding: 0;
    
}

body{
    background-color: black;
}

.app{
    margin:4px 6px ;
}

.image-container img{
    width:202.89px;
    height:299.22px;
    top:654px;
    left:393.89px;
    border-radius:5px;
}

:root{
    --themeColor:tomato;
    --white:white;
    --black:black;
}

.app > h1{
    text-align: center;
    margin:5% auto;
    color:var(--themeColor)
}